<!-- <mat-form-field appearance="fill">
    <mat-label>שם</mat-label>
    <input required matInput [(ngModel)]="newJewelry.descriptionBridejewelry" name="budget">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>טלפון</mat-label>
    <input required matInput [(ngModel)]="newJewelry.descriptionBridejewelry" name="budget">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>תאור</mat-label>
    <mat-select [(ngModel)]="newJewelry.jewelryname" name="selectJewelry">
      <mat-option value="-1"> </mat-option>
      <mat-option *ngFor="let jewelryName of jewelryNames" [value]="jewelryName">
        {{ jewelryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>   -->
