<!-- <h3>החתונה עוד {{}}</h3> -->
<button class="cancelButton" title="ביטול" (click)="onCancel()">
  <mat-icon>close</mat-icon>
</button>
<h2 class="title">רשימת התכשיטים לבחירה</h2>
<h2 class="title">כלה: {{bride.bridename}} ,חתן: {{bride.groomname}}</h2>
<button class="styleButton" title="הוספת תכשיט" (click)="openDialog()"><mat-icon>add</mat-icon>הוספת תכשיט</button>
<button class="styleButton" title="שמירת שינויים" (click)="saveChanges()"><mat-icon>save</mat-icon>שמירת שינויים</button>
<div class="container">
    <table *ngIf="bridejewelry.length!=0" class="table table-hover">
      <thead>
        <tr>
          <th>בחרה?</th>
          <th>שם תכשיט</th>
          <th>תקציב</th>
          <th>הערות</th>
          <th>לתשלום</th>
          <th> </th>
        </tr>
      </thead>
      <tbody id="brideJewelryTable">   
        <tr *ngFor="let j of bridejewelry" >
        <td><mat-slide-toggle [(ngModel)]="j.ischoose" (change)="onChoiceOrNot(j)"></mat-slide-toggle> </td>
        <td>{{j.jewelryname}}</td>
          <td [ngStyle]="{'color':j.budget }" >{{j.budget}}</td>
          <td>{{j.descriptionBridejewelry}}</td>
          <td>{{j.sumtopay}}</td>
          <button mat-icon-button title="עדכון" (click)="OnUpdateBrideJewrely(j.bridejewelryid)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button title="מחיקה" (click)="onDelete(j.bridejewelryid)"><mat-icon>delete_sweep</mat-icon></button>
        </tr> 
      </tbody>
    </table>
    <label>{{selectJewelry}}</label>
    <h3 id="h1ListJewelry" *ngIf="bridejewelry.length===0">לא נמצא מידע</h3>
</div>

  