<mat-toolbar id="heder">
  <img src="../assets/Photos/LOGO.png" alt="חנות תכשיטים שייני פלייס" style="height: 9rem;">
  <div class="dropdown">
    <button class="dropbtn"><mat-icon>menu</mat-icon></button>
    <div class="dropdown-content">
      <a routerLink="/">רשימת כלות</a>
      <a routerLink="/LogIn">Log_In</a>
      <a routerLink="/CorrectionsList">רשימת תיקונים</a>
      <a routerLink="/bride/new">כלה חדשה</a>
    </div>
  </div>
  <span class="example-spacer"></span>
  <h1>{{timeNow | date : 'dd/MM/yyyy'}}</h1>
</mat-toolbar>
<router-outlet></router-outlet>
