<button  class="cancelButton" title="ביטול" (click)="onCancel()"><mat-icon>close</mat-icon></button>
<h2 class="title">הוספת תכשיט חדש</h2>
<button class="styleButton" title="הוספה" (click)="onCreate()"><mat-icon>save</mat-icon>שמירה</button>

<div id="addNewJewelry">
<form >
  <mat-form-field appearance="fill">
    <mat-label>בחר תכשיט</mat-label>
    <mat-select [(ngModel)]="newJewelry.jewelryname" name="selectJewelry">
      <mat-option value="-1"> </mat-option>
      <mat-option *ngFor="let jewelryName of jewelryNames" [value]="jewelryName">
        {{ jewelryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>  
  <mat-form-field appearance="fill">
    <mat-label>תקציב</mat-label>
    <input type="number"  required matInput [(ngModel)]="newJewelry.budget" name="budget" placeholder="שדה חובה">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>הערות</mat-label>
    <input required matInput [(ngModel)]="newJewelry.descriptionBridejewelry" name="budget">
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="newJewelry.ischoose" name="ischoose">האם בחרה?</mat-slide-toggle> 
</form>
</div>